<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>College Add</title>

    <!-- Icons font CSS-->
    <link href="sb_assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="sb_assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="sb_assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="sb_assets/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="sb_assets/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Add College</h2>
                    <form method="POST" action="/addcl" enctype="multipart/form-data">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">College Name</label>
                                    <input class="input--style-4" type="text" name="clgname" required>
                                </div>
                            </div>


                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">College email</label>
                                    <input class="input--style-4" type="text" name="clg_email">
                                </div>
                            </div>

                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">College Address</label>
                                        <input class="input--style-4" type="text" name="Address" required>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">College Conetact_no </label>
                                        <input class="input--style-4" type="text" name="mo_no" required>
                                    </div>
                                </div>


                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Course Desperation </label>
                                            <textarea class="form-control" rows="5" id="comment" name="clg_des"
                                                required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Course URL</label>
                                            <input class="input--style-4" type="text" name="urls" required>
                                        </div>
                                    </div>
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group">
                                                <label class="label">College Image </label>
                                                <input type="file" name="image" class="form-control form-control"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="p-t-15">
                                            <button class="btn btn--radius-2 btn--blue" type="submit"
                                                name="btnsub">Add</button>
                                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="sb_assets/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="sb_assets/vendor/select2/select2.min.js"></script>
    <script src="sb_assets/vendor/datepicker/moment.min.js"></script>
    <script src="sb_assets/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="sb_assets/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->